<%= form_for(@competition, :remote => true) do |f| %>
  <div class="competition-form">
    <div class="form-group">
      <% if @competition.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:
          </h2>

          <ul>
            <% @competition.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control col-sm-4' %>
      </div>
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description, class: 'form-control', :rows => 6  %>
      </div>
      <div class="field">
        <%= f.label :start_date %><br />
        <%= f.datetime_select :start_date, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :end_date %><br />
        <%= f.datetime_select :end_date, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :category %><br />
        <%= f.text_field :category, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :is_featured %>
        <%= f.check_box :is_featured, class: 'form-check-input' %>
      </div>
      <div class="actions">
        <center>
          <%= f.submit class: 'btn btn-primary'%>
          <div class="footer">
            <button class="btn btn-seconday footer-button">
                <%= link_to "Back to List", competitions_path %>
            </button>   
          </div>
        </center>
      </div>
    </div>
  </div>
<% end %>
