<% content_for :datepicker do %>
  <%= javascript_include_tag "form.js" %>
<% end %>


<%= form_for @competition do |f| %>
  <div class="competition-form">
    <div class="form-group">
      <% if @competition.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

          <ul>
          <% @competition.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control col-sm-4', :required => true%>
      </div>
      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description, class: 'form-control', :rows => 6, :required => true%>
      </div>
      <div class="field" style="position: relative">
        <%= f.label :start_date %><br />
        <%= f.text_field :start_date, class: 'form-control', :required => true%>
      </div>
      <div class="field" style="position: relative">
        <%= f.label :end_date %><br />
        <%= f.text_field :end_date, class: 'form-control', :required => true%>
      </div>
      <div class="field">
        <%= f.label :category %><br />
        <%= f.text_field :category_list, class: 'form-control', :required => true%>
      </div>
      <div class="field">
        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control col-sm-4', :required => true%>
      </div>
      <!-- <div class="field">
        <%= f.label :is_featured %>
        <%= f.check_box :is_featured, class: 'form-check-input' %>
      </div> -->
      <div class="actions">
        <center>
          <%= f.submit class: 'btn btn-primary'%>
          <%= submit_tag("Reset", {:type => 'reset', :class => 'btn btn-danger footer-button'}) %>
        </center>
      </div>
    <% end %>
  </div>
</div>
<center>
<div class="footer">
  <%= link_to competitions_path do%>
    <button class="btn btn-seconday footer-button">
      Back to List
    </button>
  <%end%>
</div>  
</center>