<%= stylesheet_link_tag params[:controller] %>
  <% content_for :head do %>
<% end %>

<div class="container container-fluid center-field">
  <h2 class="title">Listing Competition</h3>
  <hr size="4" width="25%" noshade>
  <%unless notice.blank?%>
      <div class="alert alert-success alert-dismissible show" 
         role="alert" style="width:89%;margin:auto;">Competition successfully added!
      </div>
  <%end%>
  <%if Competition.blank?%>
    <div class="alert alert-info" role="alert">No records found!</div>
  <%else%>
    <div class="row display-flex">
      <% @competitions.each do |competition| %>
        <div class="col-sm-4">
          <div class="thumbnail">
            <%=link_to competition_path(competition) do%>
                <div class="caption">
                  <h3 class="competition-title"><%=competition.title%></h3>
                  <p class="competition-description">
                    <%=truncate(strip_tags(competition.description), length: 120, separator: ' ').html_safe%>
                  </p>
                  <p class="competition-category">Category: <%=competition.category%></p>
                  <p class="competition-details"> Competition starts at 
                    <span class="date">
                      <strong>
                        <%=competition.start_date.strftime(' %B %d, %Y, %I:%M %p',)%>
                      </strong>
                    </span> and ends at 
                      <span class="date">
                        <strong>
                          <%=competition.end_date.strftime(' %B %d, %Y, %I:%M %p')%>
                        </strong>
                      </span>
                  </p>
                </div>
            <%end%>
          </div>
        </div>
      <%end%>
    </div>
  <%end%>
  <div id="box" class="footer">
    <%= link_to new_competition_path do%>
      <button class="btn btn-primary footer-button">
        Add Competition
      </button>
    <%end%>
    <%= link_to list_competition_path do%>
      <button class="btn btn-info footer-button">
        Edit Competitions
      </button>   
    <%end%>
  </div>
</div>
