<div id="box">
  <h1 class="title">List of Competitions with tag: <span class="category"><%=@tag.name%></span></h1>
  <hr size="4" width="25%" noshade>
    <%unless notice.blank?%>
      <div class="alert alert-success alert-dismissible show" 
        role="alert" style="width:89%;margin:auto;"><%notice%>
      </div>
    <%end%>
    <div class="container constainer-fluid">
      <div class="row">
        <%if Competition.blank?%>
          <div class="alert alert-info" role="alert">No records found!</div>
        <%else%>
            <div class="col-sm-6 edit-item">Competition Title</div>
            <div class="col-sm-3 edit-item">Category</div>
            <div class="col-sm-3 edit-item">Action</div>
          </div>
              <% @competitions.each do |c|%>
                <div class="row">
                  <div class="col-sm-6 edit-item"><%=c.title%></div>
                  <div class="col-sm-3 edit-item">
                    <%c.category.each do |category|%>
                      <%= link_to category.name, search_tag_path(category) %>
                    <%end%>
                  </div>
                  <div class="col-sm-1 edit-item">
                    <%= link_to "View", competition_path(c) %>
                  </div>
                  <div class="col-sm-1 edit-item">
                     <%= link_to "Edit", edit_competition_path(c) %>
                  </div>
                  <div class="col-sm-1 edit-item">
                    <%= link_to "Delete", competition_path(c),
                      method: :delete,
                      :remote => true,
                      data: {confirm: 'Are you sure?'},
                      :class => 'delete-competition'
                     %>
                  </div>
                </div>
              <%end%>
        <%end%>
    </div>
    <div class="footer">
      <%= link_to competitions_path do%>
        <button class="btn btn-success">
          Home
        </button>   
      <%end%>
  </div>
</div>