<%= stylesheet_link_tag params[:controller] %>
<% content_for :head do %>
<% end %>

<div class="container-fluid">
  <h2 class="title">Competition Details</h2>
  <hr size="4" width="25%" noshade>
  <h2 class="competition-title"><%=@competition.title%></h2>
  <hr size="4" width="25%" noshade>
  <p class="competition-description"><%=@competition.description%></p>
</div>

<!-- <div id="addCompetition" class="footer">
    <button class="linkButton">
        <%= link_to "Add Competition", new_competition_path %>
    </button>
    <button class="linkButton">
        <%= link_to "Edit Competitions", list_competition_path %>
    </button>    
</div>
 -->