<!DOCTYPE html>
<html>
<head>
  <title>VatorX</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :datepicker %>
  <%= csrf_meta_tags %>
  <% if content_for?(:head) %>
	  <%= yield(:head) %>
	<% end %>
</head>
<body>
<%= yield %>

</body>
</html>
